{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <title>NY Covid Tracker: Historical Metrics</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Positive Cases</th>
          <th scope="col">Deaths</th>
          <th scope="col">Hospitalized</th>
          <th scope="col">Total Recoveries</th>
        </tr>
      </thead>
      <tbody>
        {% for case in cases %}
          <tr>
              <th scope="row">{{case.date}}</th>
              <td>{{case.positive}}
                {% if case.positiveIncrease > 0 and case.positiveIncrease < 700 %}
                  <small style = "color: yellow;">↑{{case.positiveIncrease}}</small>
                {% elif case.positiveIncrease >= 700 and case.positiveIncrease < 2500 %}
                  <small style = "color: orange">↑{{case.positiveIncrease}}</small>
                {% elif case.positiveIncrease >= 2500 and case.positiveIncrease < 5000 %}
                  <small style = "color: orangered">↑{{case.positiveIncrease}}</small>
                {% elif case.positiveIncrease >= 5000 %}
                  <small style = "color: red">↑{{case.positiveIncrease}}</small>
                {% else %}
                  <small style = "color: grey">={{case.positiveIncrease}}</small>
                {% endif %}
              </td>
              <td>{{case.death}}
                {% if case.deathIncrease > 0 %}                
                <small style = "color:red;">↑{{case.deathIncrease}}</small>
                {% else %}
                <small style = "color:grey;">={{case.deathIncrease}}</small>
                {% endif %}
              </td>
              <td>{{case.hospitalizedCurrently}}
                {% if case.hospInc > 0 %}
                <small style = "color:red;">↑{{case.hospInc}}</small>
                {% elif case.hospInc < 0 %}
                <small style = "color:green;">↓{{case.hospInc}}</small>
                {% else %}
                <small style = "color:grey;">={{case.hospInc}}</small>
                {% endif %}
              </td>
              <td>{{case.recovered}}
                {% if case.recoveryIncrease > 0 %}
                <small style = "color:green;">↑{{case.recoveryIncrease}}</small>
                {% else %}
                <small style = "color:grey;">={{case.recoveryIncrease}}</small>
                {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
{% endblock %}